<configuration>    
    <system.web>

        <membership defaultProvider="AspNetReadOnlyXmlMembershipProvider">
            <providers>
                <add name="AspNetReadOnlyXmlMembershipProvider" type="AspNetReadOnlyXmlMembershipProvider" description="Read-only XML membership provider" xmlFileName="~/App_Data/MembershipUsers.xml"/>
            </providers>
        </membership>

        <authorization>
            <deny users="?"/>
            <allow users="*"/>
        </authorization>

        <authentication mode="Forms" >
            <!-- The name, protection, and path attributes must match exactly in each Web.config file. -->
            <forms name=".ADAuthCookie"
                   loginUrl="login.aspx"
                   defaultUrl="~/"
                   protection="All"
                   timeout="30"
                   slidingExpiration="true"
                   path="/"
                   cookieless="AutoDetect"
                   enableCrossAppRedirects="true"
                   domain=".fcs.local">
            </forms>
        </authentication>

        <!-- Validation and decryption keys must exactly match and cannot be set to "AutoGenerate". The validation and decryption algorithms must also be the same. -->
        <machineKey
        decryptionKey="94222F033F0A4759E6FFCA4A0F02F31290D37935F1EFBDB5"
        validationKey="C03B9555F16851C764665C9FDF07D3D660821EACA33E0D40EEA775D0956DFDCCA95E23D82FD71FE4A3544EE6CA886460CC9252C8075DB1FBFD8224AD0BF6549F"
        validation="SHA1" />
        
    </system.web>
</configuration>
